body,
.puzzle,
.row,
.box,
.three,
.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: aqua;
  height: 98vh;
}

.puzzle {
  background-color: white;
  border: 5px solid black;
  aspect-ratio: 1 / 1;
  height: 75%;
}

.row {
  flex-direction: row;
  border: 2px solid black;
  height: 33%;
  width: 100%;
}

.box {
  flex-direction: column;
  border: 2px solid black;
  width: 33%;
  height: 100%;
}

.three {
  flex-direction: row;
  border: 1px solid grey;
  height: 33%;
  width: 100%;
}

.square {
  flex-direction: column;
  border: 1px solid grey;
  height: 100%;
  width: 33%;
  font-family: monospace;
  font-size: 32px;
  font-weight: bold;
  color: grey;
}

.square.preset {
  font-weight: bolder;
  color: black;
}

.unshown {
  display: none;
}

.notes-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.notes-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33%;
}

.note {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: grey;
  width: 33%;
  height: 100%;
}
